.filters_container_parent{
    width: 323px;
    height: 651px;
    background: linear-gradient(180deg, #080214 97.92%, #0C031F 100%);
    border: 1px solid rgba(168, 26, 255, 0.15);
    border-radius: 35px;
}