

.alternate_subheading_container_parent{

    height: 777px;
    background: #d9d9d900;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;


}



.alternate_subheading_container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
    width: 1390px;
    height: 713px;

    
    background: #000000;
    box-shadow: 0px 0px 75px 35px rgba(168, 26, 255, 0.05);
    border-radius: 15px;


}
.alternate_subheading_container .left_items{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

}
.left_items .image_container{
    height: 392.46px;
    width: 434.99px;
    display: grid;
}
/* .left_items .image_container .base-image-display  .image-display_image_fx_container product-category-image img {
    height: 100%;
    width: 100%;
}
.left_items .image_container .base-image-display  .image-display_image_fx_container product-category-image {
    width: 100%;
    height: 100%; }*/

.alternate_subheading_container .right_items{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;

}


.image_container .bottom_right{


    align-self: flex-end;
    justify-self: flex-end;
    z-index: 11;
}

.image_container .bottom_right .alternate-base-image-display{

    height: 219.90757751464844px;
    width: 322.6380615234375px;
    left: 256.361328125px;
    top: 327.55517578125px;


}
