carousel-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    z-index: 3;
    flex-direction: column;
    grid-gap: 15px;
    gap: 15px;
    width: 100%;
    padding-left: 5%;
    /* background: black; */
    height: 100%;
    /* background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 30.21%); */
    background: linear-gradient(90deg, #00000063 14.06%, rgba(0, 0, 0, 0) 75%);
    /* padding-top: 12%; */
    
}


carousel-text h1 {
    margin-top: 15px;
    width: 396.97px;
    height: 75px;

    
    font-family: 'Rumble Brave';
    font-style: normal;
    font-weight: 400;
    font-size: 65.7062px;
    line-height:75px;
    font-style: normal;
    font-weight: 400;
 

    background: linear-gradient(251.44deg, #CBC8C8 37.43%, #E2D6D6 44.39%, #F1F1F1 67.13%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    filter: drop-shadow(0px 5.6888px 8.9405px #000000);
   
    
}

carousel-text h2 {
    margin-top: 5px;
    text-align: left;
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 29.2028px;
    line-height: 22px;

    text-shadow: 0px 13.6888px 31.9405px #000000;


}


carousel-text p{
   
font-style: normal;
font-weight: 400;
font-size: 18.2517px;

/* or 120% */

width: 396.97px;
height:95px;
line-height: 25px;
color:white;
text-shadow: 0px 13.6888px 31.9405px #000000;

filter: drop-shadow(0px 5.6888px 8.9405px #000000);
word-break: normal;
white-space: normal;
}

@media screen and (max-width: 1024px) {

    carousel-text {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 3;
        flex-direction: column;
        grid-gap: 15px;
        gap: 15px;
        width: 100%;
        padding-left: 0%;
        /* background: black; */
        height: 100%;
        /* background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 30.21%); */
        background: linear-gradient(90deg, #00000063 14.06%, rgba(0, 0, 0, 0) 75%);
        margin-top: -5%;
      
        
    }
    


    carousel-text h1 {

        font-size: 12vw;
        font-size: 298%;
        text-align:center;
     
    }
    carousel-text h2 {
        margin-top:-15px;
        font-size: 5vw;
        font-size: 178%;
        text-align:center;
     
    }
    carousel-text p {
        width:65%;
        font-size: 3vw;
        text-align:center;
        line-height:150%;
     
    }

  }