
product-basic-title{
  position: absolute;
  justify-content: flex-end;
}

product-basic-animation-box {

    display: block;
    width: var( --product-box-width);
    height: var( --product-box-height);
    position: relative;
    border-radius: 15px;
    border: 2px solid rgba(168, 26, 255, .15);
    cursor: pointer;
    box-shadow: 0 10px 15px 2px;     
    transition:all .4s ease-in-out;
  }

product-basic-box {

    display: flex;
    flex-direction: column;
    width: inherit;
    height: var( --product-box-height);
    justify-content:center;
    align-items: center;
    position: relative;
    border-radius: 15px;
    border: 2px solid rgba(168, 26, 255, .15);
    cursor: pointer;
    box-shadow: 0 10px 15px 2px;
    background: linear-gradient(#2F2E2E, #080214); 
    transition:all .4s ease-in-out;
  }


product-basic-image-fx-container{
  display: flex;
  align-items:flex-start;
  overflow: hidden;
  width: inherit;
  height: var(--product-imagefx-height);
  
}
product-basic-image img{
    display: block;
    width: var( --product-box-width);
    object-fit: cover;
   
    height: var(--product-imagefx-height);
    object-fit: cover;
    border-radius: 12px;
    border: 0px solid rgba(168, 26, 255, 100);
    box-shadow: inset 0 0 50px 20px rgba(0,0,90, 0.5);
    justify-content: center;
    z-index: -15;
    opacity: 1;  
    
}

product-basic-inset-shadow{
    display:block;
    box-shadow: inset 0px 0px 10px 6px rgba(0,0,0,.7);
    position: absolute;
    border: 0px solid rgba(168, 26, 255, 100);
   
    width: inherit;
    height: var(--product-imagefx-height);
    z-index: 10;
    border-radius: 10px;
  }

product-basic-cover-outline{
  display: block;
   box-shadow: 0 0 10px 6px black inset;
    box-shadow: 0 0 0px 1.1px inset rgba(168, 26, 255, 1);
    
    border: 0px solid rgba(168, 26, 255, 100);
    width: inherit;
    width: inherit;
    height: var(--product-imagefx-height);
    z-index: 11;
    border-radius: 12px;
    position:absolute;
    overflow: hidden;
    margin:auto;
  transition: .5s;

  
  }

  product-basic-shine{
    
    transition: inherit;
    position: absolute;
  
    top: 0;
    right: -50%;
    bottom: 0;
    left: -50%;
    content: "";
    
    transform: rotate(30deg) translate(0, -80%) scale(5, 1.0);
    background: linear-gradient(
      to bottom,
      rgba(255,255,255,.15) 0%,
      
      rgba(255,255,255,.2) 99%,
      rgba(255,255,255,0) 100%
    );
    z-index: 12;  
  
  }



  product-basic-info-container{
 
    display: flex;
    height: 60px;
    width:85%;
   
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
    flex: 1;


    display: flex;
    align-items:center;
   
  }


  product-basic-info-container h2.product-title{
    width:20px;
      font-style: normal;
      font-weight: 400;
      font-size: var(--product-box-header-size);
      line-height: 20px;
      text-align: left;
      flex:1;
      color: linear-gradient(251.44deg, #CBC8C8 37.43%, #E2D6D6 44.39%, #F1F1F1 67.13%);
      

      
      


  }






  product-basic-box:hover {
    animation: animate 8s linear infinite;
  }
   
  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
   

.product-basic-box:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
      background: linear-gradient(45deg, #8309CE, #994DFF, #B02EFF,#994DFF, #ff00ee, #A81AFF, 
          #994DFF, #8309CE,#ff0000, #A81AFF);
    background-size: 800%;
    border-radius: 40px;
    opacity: 0;
    transition: .5s;
  
  
  }
   
  product-basic-box:hover:before {
    filter: blur(90px);
    opacity: .8;
    animation: animate 8s linear infinite;
    
    
  }
  

 product-basic-animation-box:hover {
    animation: animate 8s linear infinite;
  }
   
  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
   
  product-basic-animation-box:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
      background: linear-gradient(45deg, #8309CE, #994DFF, #B02EFF,#994DFF, #ff00ee, #A81AFF, 
          #994DFF, #8309CE,#ff0000, #A81AFF);
    background-size: 800%;
    border-radius: 40px;
    opacity: 0;
    transition: .5s;
  
  
  }
   
  product-basic-animation-box:hover:before {
    filter: blur(20px);
    opacity: .4;
    animation: animate 8s linear infinite;
    
    
  }


product-basic-animation-box:hover {

    transform: scale(.98);

  }
/* Affect Hovers */
product-basic-animation-box:hover product-basic-box product-basic-image-fx-container product-basic-cover-outline{

  box-shadow: 0 0 0px 1.1px inset white;
  background: rgba(189, 0, 255, 0.12);
}


product-basic-animation-box:hover product-basic-image img{

  filter: saturate(0.7);
}

product-basic-animation-box:hover product-basic-box product-basic-info-container right-items button-parent{

  border: 2px solid white;
  background: rgba(189, 0, 255, 0.12);
  border: 2px solid var(--main-color);
}

product-basic-animation-box:hover product-basic-box product-basic-info-container right-items button-parent h3{

  color: var(--main-color);
}