.profile-info-text{
    width:35%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap:5px;
    transition: all .4s ease;
    cursor:pointer;
    padding: 5%;
    border: 1.6389px solid rgba(185, 185, 185, 0.1);
    border-radius: 6.48913px;
}

.profile-info-text h1{
    width:100%;
    background: linear-gradient(180deg, rgba(187, 101, 255, 0.35) 43.75%, rgba(147, 11, 255, 0.35) 57.81%), linear-gradient(251.44deg, #CBC8C8 37.43%, #E2D6D6 44.39%, #F1F1F1 67.13%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

height:30px;
font-size: 25.4045px;
}

.profile-info-text h2{
    width:100%;
    background: linear-gradient(251.44deg, #CBC8C8 37.43%, #E2D6D6 44.39%, #F1F1F1 67.13%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

text-shadow: 0px 17.3879px 40.5717px #000000;
font-size: 25px;
}

.profile-info-text:hover{
    
background: linear-gradient(180deg, rgba(168, 26, 255, 0) 66.56%, rgba(168, 26, 255, 0.37) 122.81%);
border: 1.6389px solid rgba(185, 185, 185, 0.1);
box-shadow: 2.7038px 2.16304px 18.9266px rgba(168, 26, 255, 0.35);
border-radius: 6.48913px;
}