


.profile-info-text-bg{
    width:45%;
    height: 55%;
    max-width: 480px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5px;
    transition: all .4s ease;
    cursor:pointer;
    padding:1.8px;
    border-radius: 6.48913px;

    background: linear-gradient(180deg, rgb(18, 18, 19) 66.56%, rgba(168, 26, 255, 0.37) 122.81%);

    border-radius:8px;  
}



.profile-info-text{
 
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    z-index:15;
    transition: all .4s ease;
    cursor:pointer;

   
    background: linear-gradient(180deg, rgba(168, 26, 255, 0) 66.56%, rgba(168, 26, 255, 0.37) 122.81%);

   background: black;
border-radius:8px;
}
.profile-info-text-container{
  
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15%;
    gap:10px;
    transition: all .4s ease;

}



.profile-info-text h1{
    width:100%;
    background: linear-gradient(180deg, rgba(187, 101, 255, 0.35) 43.75%, rgba(147, 11, 255, 0.35) 57.81%), linear-gradient(251.44deg, #CBC8C8 37.43%, #E2D6D6 44.39%, #F1F1F1 67.13%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


font-size: 25.4045px;
}

.profile-info-text h2{
    width:100%;
    background: linear-gradient(251.44deg, #CBC8C8 37.43%, #E2D6D6 44.39%, #F1F1F1 67.13%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

text-shadow: 0px 17.3879px 40.5717px #000000;
font-size: 25px;
}

.profile-info-text:hover{
    
background: linear-gradient(180deg, rgba(168, 26, 255, 0) 66.56%, rgba(168, 26, 255, 0.37) 122.81%);
border: 1.6389px solid rgba(185, 185, 185, 0.1);
box-shadow: 2.7038px 2.16304px 18.9266px rgba(168, 26, 255, 0.35);
border-radius: 6.48913px;
}

@media only screen and (max-width:480px){

    .profile-info-text-bg{
  
        height: auto;

    }

    .profile-info-text {
        width: 100%;
        height: 100%;
        display:initial;
        justify-content: center;
        align-items: flex-start;

    }
    .profile-info-text h1{
        margin-block-start: 0em;
        margin-block-end: 0em;
        font-size: 1.2rem;
        line-height: 1.5rem;
        height: auto;
        overflow: visible;
    }
    .profile-info-text h2{

        font-size: 1.1rem;
    }
    



}    