/* #345.825 */

.text-editor-box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    width:48%;
   
    height: 80.87px;
    flex-wrap: wrap;

}

.text-input {

    width:95%;

  
    background:transparent;
    border: 1.01038px solid #534859;
    border-radius: 5.05188px;
    color:white;
    padding: 10px;
}