
button-items{
     
      display:flex;

      justify-content: center;
      align-items: center;
      height: 41.030799865722656px;
      width: 144.8145751953125px;

      border-radius: 5px;
      transition:all .5s ease-in-out;
      cursor: pointer;
      
    
    }


button-parent{

   
    display: flex;
    width:inherit;
    background: red;
    justify-content: center;
    align-items: center;
    height: 41.030799865722656px;
    width: 144.8145751953125px;

    
    background: linear-gradient(95.12deg, #994DFF -18.8%, #702EFF 18.42%, #B02EFF 48.79%);
    border: 2px solid #534859;
    box-shadow: 0px 4px 35px 15px rgba(168, 26, 255, 0.09);
    border-radius: 5px;  
      
    transition:all .5s ease-in-out;
    
  }
  
  button-parent h3{
  
    position: absolute; 
  
    color: white;
    font-size: 15px;
    text-align: center;
  
  
     
      width: inherit;

      font-family: 'istok-web', serif;
      font-style: normal;
      font-weight: 400;
      transition:all .5s ease-in-out;


  }
  
  button-parent a svg{
    margin-top: 2px;
    transform: scale(1.2);

   
  
  
  
  }



  


 button-items:hover button-parent {
  
    border: 2px solid white;
    background: rgba(189, 0, 255, 0.12);
    border: 2px solid var(--theme-color-1);
  }



  button-items:hover button-parent h3{
  
    color: var(--theme-color-1);
  }