

.subheading_container_parent{

    height: 777px;
    background: #d9d9d900;
    display: flex;
    align-items: center;
    justify-content: center;


}



.subheading_container {
    display: flex;

    display: flex;
    align-items: center;
    justify-content: center;


    position: relative;
    overflow: hidden;
    width: 1390px;
    height: 713px;

    
    background: #000000;
    box-shadow: 0px 0px 75px 35px rgba(168, 26, 255, 0.05);
    border-radius: 15px;


}

.subheading_container .left_items{
    width: 50%;
}
.subheading_container .right_items {
    height: 475px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    /* grid-template-rows: repeat(2, 200px); */
    /* grid-gap: 35px; */
}

@media only screen and (min-width:1600px){



    .subheading_container_parent{

        width: 100%;
     
    }
    
    
    
    .subheading_container {

        width: 100%;
        max-width: 1736px;

    
    
    }



}