a {
    text-decoration: none;
}


.navbar_element {
    display: block;
    background: linear-gradient(180deg, #000000 0%, #17011F 100%);
    background: linear-gradient(180deg, #000000 0%, #1e0029 100%);
    background: linear-gradient(180deg, #000000 0%, #110116 100%);
    background: linear-gradient(180deg, #000000 0%, #110116 100%);
    background: none;
    

    box-shadow: 0px 4px 35px 5px rgba(0, 0, 0, 0.25);
    width: 100%;

    display: inline-block;
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
    z-index: 50800000;
    padding-top: 31px;
    padding-bottom: 30px;


}

h1{color: white}

logo-parent img {

    height: 54.93px;
    width: 188.36px;

    
    height: auto;
    transition: all .4s ease;
   

}


logo-parent {
   
display: block;
cursor:pointer;


}

navbar-elements-container {
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
    max-width: 130rem;
    height: 53.73978042602539px;
    max-width: 1425px;
    justify-content: space-between;
   


}

navbar-elements-container .left_items{
    padding-left: 21px;
}
navbar-elements-container .right_items

{  
    display: flex;
    justify-content: space-between;

    height: 38.51px;
    width: 1084.46px;
    border-radius: 0px;
}

.navigation_links_container{
   
    display: flex;
    width:100%;
    justify-content: space-between;
    /* padding-bottom: 17.05px; */
  
}
.navigation_links_container ul {
    display: flex;
    gap: 32px;
    margin: 5px;
    align-items: center;
    text-decoration:none;
}
.navigation_links_container ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.23px;
    color:#9c9c9c;
    color: white;
    color:#d4d4d4;
    margin-top: 5px;
    cursor:pointer;
    font-size: 16px;
    transition: all .4s ease;
    text-decoration:none;
}

.navigation_links_container ul li .icon{

    font-size: 21.69px;
    margin-top:-2px;
    
    color:#9c9c9c;
    transition: all .2s ease;
}

.navigation_links_container ul li img{
    max-width: 27.76px;
    
}

profile-card-container {
    padding-right: 41px;
    display: flex;
    align-items: center;
    gap: 13.27px;
    cursor: pointer;
    
}


profile-card-container h2{
    
color: white;
font-size: 16px;
transition: all .4s ease;
    
}




.navigation_links_container ul li:hover{
    color: var(--theme-color-1);

    cursor:pointer;
    
}

.navigation_links_container ul li:hover .icon{
    color: var(--theme-color-1);

    
}


profile-card-container:hover image-parent{
  
    border: .15em solid #ffffff;
    transform: scale(.9);


}

profile-card-container:hover img {
    transform: scale(1.5);
    filter:saturate(75%);


}

profile-card-container:hover h2{
    
    color: var(--theme-color-5);
    transform: scale(.97);
    
        
    }

logo-parent:hover img {
filter: saturate(0%);
opacity: 2;
filter: hue-rotate(-10deg);
transform: scale(.97);

    }   

@media only screen and (min-width:1600px){
    navbar-elements-container {
        max-width: 1736px;
    }

    navbar-elements-container .right_items

    {  
        display: flex;
        justify-content: space-between;
    

        width: 1402.9017333984375px;

        
        border-radius: 0px;
    }

}

@media screen and (max-width : 480px){
    .navbar_element {
        display:none;
        visibility: hidden;
    }




    }    
