parent-container {
    margin-top: 0px;
    
    gap:15px;
    display: flex;
    flex-direction: row;
    align-items:center;

}
.input-parent{  
    width: 271.19px;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    transition:all .4s ease;


}

.input-parent-active{  
    width: 271.19px;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    transition:all .4s ease;



}
.search-input{
    
    display: block;
    width: 200.19px;
    height: 0px;
    background:transparent;
    border: 1px solid #A81AFF;
    box-shadow: 0px 4px 25px 3px rgba(82, 5, 109, 0.99);
    border-radius: 5px;
    color: white;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all .4s ease;
}


.search-input-active{
    align-self: flex-start;
    display: block;
    width: 271.19px;
    height: 0px;
    background:transparent;
    border: 1px solid #A81AFF;
    box-shadow: 0px 4px 25px 3px rgba(82, 5, 109, 0.99);
    border-radius: 5px;
    color: white;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all .4s ease;
 
}
.search-icon{
    color: grey;
    font-size: 25px;
    position: absolute;
    margin-left: 35%;
   opacity:0;
    transition: all .4s ease;
    transform: rotate(90deg);
}

.search-icon-active{
    display: block;
    color: grey;
    font-size: 25px;
    position: absolute;
    margin-left: 20%;
    transition: all .4s ease;
    transform: rotate(0deg);
}
parent-container {
    margin-top: 35px;
    
    gap:15px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
  
}



@media only screen and (max-width: 480px) {

  

    .search-input{
        padding-left:2%;
        padding-top:2%;
        padding-right:2%;
        padding-bottom:2%;
        width: 60%;
        height:45%;
    
     
    }
    parent-container {
        margin-top: 0px;
        
        gap:15px;
        display: flex;
        flex-direction: row;
        align-items:center;
      
    }
    
         
    

}

