.search-input{
    
    display: block;
    width: 211.19px;
    height: 0px;
    background:transparent;
    border: 1px solid #A81AFF;
    box-shadow: 0px 4px 25px 3px rgba(82, 5, 109, 0.99);
    border-radius: 5px;
    color: white;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

parent-container {
    margin-top: 35px;
    
    gap:15px;
    display: flex;
    flex-direction: row;
    align-items:center;
  
}



@media only screen and (max-width: 480px) {

  

    .search-input{
        padding-left:2%;
        padding-top:2%;
        padding-right:2%;
        padding-bottom:2%;
        width: 60%;
        height:45%;
    
     
    }
    parent-container {
        margin-top: 0px;
        
        gap:15px;
        display: flex;
        flex-direction: row;
        align-items:center;
      
    }
    
         
    

}

