templates-carousel {
    
    height:100%;
    display:flex;
    width:100%;
    justify-content: flex-start;
    align-items: center;
    padding-left:3.5%;
}
.carousel_parent{
    display:flex;
    width:100%;
}

inner-content{
    display:inline-flex;
    white-space: nowrap;
    transition: transform 0.6s ease-in-out;
    gap:35px;
    justify-content: center;
    align-items: center;
    width:470%;
}

carousel-item{

    


}

.indicators {
 
    position:absolute;
    margin:0 auto;
    display:none;

}

