
:root{
  --category-card-width: 328px;
  --category-card-height: 152px;
}


product-category-title{
    position: absolute;
    justify-content: flex-end;
  }
  .cat_card_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 152px;
    width: 328px;

    
    overflow:visible;
    transition:all .4s ease-in-out;
  }
  .product_category_animation_box {
      position:absolute;
    
      display: flex;
   
      height: 152px;
      width: 328px;
  
   
      border-radius: var(--templates-category-card-borderradius);
      border: 2px solid rgba(168, 26, 255, .15);
    
      cursor: pointer;
      box-shadow: 0 10px 15px 2px;     
      transition:all .4s ease-in-out;
    }
  
  .product_category_box {
      position:absolute;
      display: flex;
      flex-direction: column;
      height: 152px;
      width: 328px;
      align-items: center;
     
      position: relative;
      border-radius:  12.67px;
      border: 2px solid rgba(168, 26, 255, .15);
      border: 1.1px solid rgb(48, 22, 65);
      cursor: pointer;
      box-shadow: 0 10px 15px 2px;
      background: linear-gradient(180deg, #080214 97.92%, #2F2E2E 100%);
      transition:all .4s ease-in-out;
    }
  
  
  .product_category_image_fx_container{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100px;
    width: 317.6700134277344px;
    margin-top: 1.5%;

    
    justify-content: center;

    /* border: 0.551602px solid #A81AFF;
    box-shadow: inset 0px 0px 8.27403px 2.75801px rgba(0, 0, 0, 0.5);
    filter: drop-shadow(0px 2.20641px 2.20641px rgba(0, 0, 0, 0.25)); */
    border-radius: 8.44603px;


    
  }
  product-category-image{

    height: 100px;
    width: 317.6700134277344px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  product-category-image img{
      display: block;
 
      object-fit: cover;
     
      height: 100px;
      width: 317.6700134277344px;
  
      object-fit: cover;
      border-radius:  inherit;
      border: 0px solid rgba(168, 26, 255, 100);
      box-shadow: inset 0 0 50px 20px rgba(0,0,90, 0.5);
      justify-content: center;
      z-index: 2;
      opacity: 1;  
      
  }
  
  product-category-inset-shadow{
      display:block;
      box-shadow: inset 0px 0px 8.27403px 2.75801px rgba(0, 0, 0, 0.5);
      position: absolute;
      border: 0px solid rgba(168, 26, 255, 100);
     
      width: inherit;
      height: inherit;
      z-index: 10;
      border-radius:  inherit;
    }
  
  .product_category_cover_outline{
    display: block;
     box-shadow: 0 0 10px 6px black inset;
      box-shadow: 0 0 0px 1.1px inset rgba(168, 26, 255, 1);
      
      border: 0px solid rgba(168, 26, 255, 100);
      width: inherit;
      width: inherit;
      height: inherit;
      z-index: 11;
      border-radius:  var(--templates-category-card-borderradius);
      position:absolute;
      overflow: hidden;
      margin:auto;
      transition: .5s;


      border: 0.551602px solid #A81AFF;
      box-shadow: inset 0px 0px 8.27403px 2.75801px rgba(0, 0, 0, 0.5);
      filter: drop-shadow(0px 2.20641px 2.20641px rgba(0, 0, 0, 0.25));
      border-radius: 8.44603px;
  
    
    }
  
    product-category-shine{
      
      transition: inherit;
      position: absolute;
    
      top: 0;
      right: -50%;
      bottom: 0;
      left: -50%;
      content: "";
      
      transform: rotate(30deg) translate(0, -80%) scale(5, 1.0);
      background: linear-gradient(
        to bottom,
        rgba(255,255,255,.15) 0%,
        
        rgba(255,255,255,.2) 99%,
        rgba(255,255,255,0) 100%
      );
      z-index: 12;  
    
    }
  
    product-category-info-container {
      display: grid;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: .86;
      /* height: 100%; */
  }
  

  

product-category-info-container h2.rumble-brave-font {
    display: flex;
    /* line-height: revert; */
    height: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: auto;
    text-align: center;
    color: linear-gradient(251.44deg, #CBC8C8 37.43%, #E2D6D6 44.39%, #F1F1F1 67.13%);
    background: linear-gradient(251.44deg, #CBC8C8 37.43%, #E2D6D6 44.39%, #F1F1F1 67.13%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
}
  
  
  
    .product_category_box:hover {
      animation: animate 8s linear infinite;
    }
     
    @keyframes animate {
      0% {
        background-position: 0%;
      }
      100% {
        background-position: 400%;
      }
    }
     
  
  .product_category_box:before {
      content: "";
      position: absolute;
      top: -5px;
      right: -5px;
      bottom: -5px;
      left: -5px;
      z-index: -1;
        background: linear-gradient(45deg, #8309CE, #994DFF, #B02EFF,#994DFF, #ff00ee, #A81AFF, 
            #994DFF, #8309CE,#ff0000, #A81AFF);
      background-size: 800%;
      border-radius: 40px;
      opacity: 0;
      transition: .5s;
    
    
    }
     
    .product_category_box:hover:before {
      filter: blur(20px);
      opacity: .8;
      animation: animate 8s linear infinite;
      
      
    }
    
  
   .product_category_animation_box:hover {
      animation: animate 8s linear infinite;
    }
     
    @keyframes animate {
      0% {
        background-position: 0%;
      }
      100% {
        background-position: 400%;
      }
    }
     
    .product_category_animation_box:before {
      content: "";
      position: absolute;
      top: -5px;
      right: -5px;
      bottom: -5px;
      left: -5px;
      z-index: -1;
        background: linear-gradient(45deg, #8309CE, #994DFF, #B02EFF,#994DFF, #ff00ee, #A81AFF, 
            #994DFF, #8309CE,#ff0000, #A81AFF);
      background-size: 800%;
      border-radius: 40px;
      opacity: 0;
      transition: .5s;
    
    
    }
  
    .product_category_animation_box:hover:before {
      filter: blur(15px);
      opacity: .4;
      animation: animate 8s linear infinite;
      
      
    }
  
    .product_category_animation_box_clicked:hover:before {
      filter: blur(15px);
      opacity: .4;
      animation: animate 8s linear infinite;
      
      
    }
  
  
    .cat_card_container:hover  {
  
      transform: scale(.98);
  
    }
  /* Affect Hovers */
  .cat_card_container:hover .product_category_box .product_category_image_fx_container .product_category_cover_outline{
  
    box-shadow: 0 0 0px 1.1px inset white;
    background: rgba(189, 0, 255, 0.12);
  }
  
  
  .cat_card_container:hover  product-category-image img{
  
    filter: saturate(0.7);
  }
  
  .cat_card_container:hover .product_category_box product-category-info-container right-items button-parent{
  
    border: 2px solid white;
    background: rgba(189, 0, 255, 0.12);
    border: 2px solid var(--main-color);
  }
  
  .cat_card_container:hover .product_category_animation_box .product_category_box product-category-info-container right-items button-parent h3{
  
    color: var(--main-color);
}

.cat_card_container_clicked{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 152px;
  width: 328px;
  overflow:visible;
  transition:all .4s ease-in-out;
  transform: scale(.95);
}
  
.product_category_animation_box_clicked {
  display: block;
  height: 152px;
  width: 328px;
  position: absolute;
  border-radius: var(--templates-category-card-borderradius);
  border: 2px solid rgba(168, 26, 255, .15);
  cursor: pointer;
  box-shadow: 0 10px 15px 2px;     
  transition:all .4s ease-in-out;
  transform: scale(.98);
  animation: animate 8s linear infinite;

 filter:blur(35px);


  background: linear-gradient(45deg, #8309CE, #994DFF, #B02EFF,#994DFF, #ff00ee, #A81AFF, 
  #994DFF, #8309CE,#ff0000, #A81AFF);
background-size: 800%;
  
}









   
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
} 

/* .product_category_box_clicked {
    
  
  display: flex;
  flex-direction: column;
  height: 152px;
  width: 328px;
 
  position: relative;
  border-radius:  var(--templates-category-card-borderradius);
  border: 2px solid rgba(168, 26, 255, .15);
  cursor: pointer;
  box-shadow: 0 10px 15px 2px;
  background: linear-gradient(#2F2E2E, #080214); 
  transition:all .4s ease-in-out;
  

} */

.product_category_box_clicked {
  position:absolute;
  display: flex;
  flex-direction: column;
  height: 152px;
  width: 328px;
  align-items: center;
 
  position: relative;
  border-radius:  12.67px;
  border: 2px solid rgba(168, 26, 255, .15);
  cursor: pointer;
  box-shadow: 0 10px 15px 2px;
  background: linear-gradient(#2F2E2E, #080214); 
  transition:all .4s ease-in-out;
}




.product_category_image_fx_container_clicked{
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100px;
  width: 317.6700134277344px;
  margin-top: 1.5%;

  
  justify-content: center;

  /* border: 0.551602px solid #A81AFF;
  box-shadow: inset 0px 0px 8.27403px 2.75801px rgba(0, 0, 0, 0.5);
  filter: drop-shadow(0px 2.20641px 2.20641px rgba(0, 0, 0, 0.25)); */
  border-radius: 8.44603px;

}

.product_category_cover_outline_clicked {
  display: block;
  box-shadow: 0 0 10px 6px black inset;
   box-shadow: 0 0 0px 1.1px inset rgba(168, 26, 255, 1);
   
   border: 0px solid rgba(168, 26, 255, 100);
   width: inherit;
   width: inherit;
   height: var(--templates-imagefx-height);
   z-index: 11;
   border-radius:  var(--templates-category-card-borderradius);
   position:absolute;
   overflow: hidden;
   margin:auto;
 transition: .5s;

 box-shadow: 0 0 0px 1.1px inset white;
 background: rgba(189, 0, 255, 0.12);



 display: block;

  
  border: 0px solid rgba(168, 26, 255, 100);
  width: inherit;
  width: inherit;
  height: inherit;
  z-index: 11;
  border-radius:  var(--templates-category-card-borderradius);
  position:absolute;
  overflow: hidden;
  margin:auto;
  transition: .5s;


  border: 0.551602px solid #A81AFF;

  filter: drop-shadow(0px 2.20641px 2.20641px rgba(0, 0, 0, 0.25));
  border-radius: 8.44603px;

}


/* 
clicked styles end */

@media only screen and (min-width:1900px){

  product-category-info-container h2.rumble-brave-font{


    line-height: 115%;
  }

}