templates-hero-parent-container{
    width:100%;
    height: 562.36px;
    display:block;
    overflow: hidden;
}

templates-hero-container {
    display: flex;
    background: black;
    width: 100%;
    height: 562.36px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
   
}

templates-hero-background-image {
  
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    overflow: hidden;

}
templates-hero-background-image img {
  
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    object-fit: cover;
    opacity: .13;
}


templates-hero-overlay-gradient {
    background: linear-gradient(180deg, rgba(168, 26, 255, 0) 65.62%, rgba(168, 26, 255, 0.2146) 100%);
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

templates-hero-main-content {
    margin-top: 15px;
    position:absolute;
    display: flex;
    flex-direction: column;

    width: 75%;
    height: 100%;
    z-index: 5;
    align-items: center;
    justify-content: center;
}
templates-hero-main-content img {
    width: 40%;
    width: 591.33px;
    height: auto;
    transition: all .4s ease;
}

templates-hero-main-content h1.istok-font{
    margin-top: 15px;
    display:block;
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
 
}





@media only screen and (max-width : 480px){


    
    templates-hero-parent-container {
        display:flex;
        justify-content: center;
        background:black;
        align-items: center;
        height: 210px;
      }

    templates-hero-container {
      width:75%;
      width: var(--templates-hero-width);
      height: var(--templates-hero-height);
      
      border-radius: 10.7448px;
      border: 3px solid rgba(168, 26, 255, 0.2);
    }
    .particle-hero {
        width: var(--templates-hero-width);
        height: var(--templates-hero-height);
        
      }

      templates-hero-background-image{
        width: var(--templates-hero-width);
        height: 187.38px;
        
      }

      templates-hero-main-content h1.istok-font{
        display:none;
     
    }

    templates-hero-main-content {
        gap:0px;
        height:25%;
 

    }
    templates-hero-main-content img {
        width: 90%;
    
    
        height: auto;
    }
    
    
    templates-hero-main-content h1.istok-font{
    
    
    
        font-size: 20px;
      
    }



  parent-container{

        display:none;
        margin-top:0px;

    }
  }


