.templates-landing-parent{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    width:100%;
    height: 100%;
    overflow:hidden;
}
.modal-bg{
    z-index: 3;
    width:100%;
    height:100%;
    overflow: hidden;
}

templates-landing-hero-container {
    display:flex;
    width:100%;
    width:95%;
    height: 75%;
    background:rgba(0, 0, 0, 0.122);
    border: 2px solid #534859;
    border-radius: 12px;
    overflow:hidden;
    z-index:2;
    max-width:100rem;
}

.modal-content{
    height:100%;
    overflow: hidden;
}
content-background {
    display:flex;
    width:100%;
    height:560px;
  
    justify-content: center;
    align-items: center;
    
}
content-container {
    display:flex;

    gap:115px;
    height:560px;
    background:transparent;
    
    justify-content: space-between;
    align-items: center;
    z-index:2;
    flex-direction: row;
}

fade-bg1{
    z-index:0;
    display:block;
    position:absolute;
    width: 100%;
    height: 1200px;
    background: linear-gradient(180deg, rgba(186, 0, 251, 0.155) 0%, rgba(217, 217, 217, 0) 85.42%);
    pointer-events: none;
}

.template-icon{
    color:grey;
    font-size:25px;
}

@media only screen and (max-width:480px){
    .templates-landing-parent{
        display:flex;
        justify-content: center;
        align-items: flex-start;
        width:100%;
        height:900px;
        overflow:hidden;
        margin-top:15%;
    }

    templates-landing-hero-container {
        display:flex;
        width:100%;
        width:95%;
        height: 100%;
        margin-top: 5%;
        overflow:hidden;
        justify-content: center;
        align-items: flex-start;

    }

content-container {

    flex-direction: column;
    height:100%;
    gap:20px;
    justify-content: center;
    align-items: center;
    margin-top: 39%;
}
}