.etsy_text{
    font-size: 23px;
    font-family: "outfit", serif;
    color: white;
}
.etsy_text span{
    font-family:serif;
    color:#F45800;
}
.logo_image{
    width:315px;
}

accent-line-div{
    margin-top: 12px;
    display:block;
    width: 60%;
    height: 2.2px;
    background: linear-gradient(95.12deg, #994DFF -18.8%, #702EFF 18.42%, #B02EFF 48.79%);
    border-radius: 15px;;

}
.etsy_paragraph{
    margin-top:50px;
    font-size: 23px;
    font-weight: 100;
    line-height: 33px;
}



@media only screen and (max-width: 480px){

    etsy-content-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .etsy_text {
        text-align: center;
        width: 95%;
        line-height: 24px;
        font-size: 6vw;
    }
    .logo_image{
        width:62vw;
    }

    .etsy_paragraph {
        text-align: center;
        width: 95%;
        line-height: 24px;
        font-size: 4.1vw;
        margin-top: 20px;
    }



}
