:root{
    --media-previewer-border-radius: 12.7779px; 
}
media-previewer-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 723.49px;
    height: 387.55px;
    
    border: 2.12965px solid #534859;
    box-shadow: 0px 15.9723px 37.2688px 15.9723px rgba(0, 0, 0, 0.75);
    border-radius: var(--media-previewer-border-radius); 
  
}


.media-previewer-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 723.49px;
    height: 387.55px;
    
    object-fit:cover;
    border-radius: var(--media-previewer-border-radius);
}