.profile-subheading-parent{
    height:500px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
 
}

profile-subheading-content{
    height:75%;
    width:80%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2%;
}

profile-subheading-content left-items{
    width:65%;
    display:flex;
    align-items: center;
    justify-content: center;
    }

    profile-subheading-content left-items texts-container{
        display:flex;
        flex-wrap: wrap;
        height:55%;
        width:100%;
        gap:15px;
        }

        order-section top-items{
            display:flex;
            align-items: center;
            justify-content: center;
            height:97px;
            gap:15%;
        }