hero-parent-container{
    width:100%;
    height: var(--hero-height);
    display:block;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    margin-top:8px;
}

hero-container {
    max-width: 130rem;
    display: flex;
    background: black;
    width: 97.3958333%;
    height: var(--hero-height);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    border: 2px solid #534859;
    border-radius: 12px;
    box-shadow: 0px 15.0205px 35.0479px 15.0205px rgba(46, 6, 71, 0.75);
}

hero-background-image {
  
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    overflow: hidden;

}
hero-background-image img {
  
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    object-fit: cover;
    opacity: .13;
}


hero-overlay-gradient {
    background: linear-gradient(180deg, rgba(168, 26, 255, 0) 65.62%, rgba(168, 26, 255, 0.2146) 100%);
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

hero-main-content {
    margin-top: 15px;
    position:absolute;
    display: flex;
    flex-direction: column;

    width: 75%;
    height: 100%;
    z-index: 5;
    align-items: center;
    justify-content: center;
}
hero-main-content img {
    width: 40%;
    width: 591.33px;
    height: auto;
    transition: all .4s ease;
}

hero-main-content h1.outfit{
    margin-top: 15px;
    display:block;
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
 
}



@media only screen and (max-width: 1200px) {

    hero-main-content img {
        width: 60vw;
        max-width: 500px;
        height: auto;
    }

    hero-main-content h1.outfit{
   


        font-size: 20px;
      
     
    }
     
    

}


@media only screen and (max-width: 480px) {
    hero-container {

        width: 95%;

    }
  
    hero-parent-container{
        margin-top: 5%;
    }
    
    hero-main-content h1.outfit{
        font-size: 3.5vw;
        margin-top: 0px;
    }
}