@font-face {
    font-family: 'istok-web';
    src: local('istok-web'), url(./assets/fonts/IstokWeb-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'rumble-brave';
    src: local('rumble-brave'), url(./assets/fonts/Rumble-Brave.otf) format('opentype');
  }

  @font-face {
    font-family: 'javanese-text';
    src: local('javanese-text'), url(./assets/fonts/Javanese-Text.ttf) format('opentype');
  }
  @font-face {
    font-family: 'outfit';
    src: local('outfit'), url(./assets/fonts/Outfit-VariableFont_wght.ttf) format('truetype');
  }

  @import url('https://fonts.googleapis.com/css2?family=Outfit&family=Poppins:wght@400;100;700&display=swap');
:root{

  -webkit-backface-visibility: hidden;
    --theme-color-1: #8309CE;
    --theme-color-2: #994DFF;
    --theme-color-3: #702EFF;
    --theme-color-3: #B02EFF;
    --theme-color-5: #A81AFF;

    --front-text-gradient: linear-gradient(180deg, #9E00FF 0%, #FFFFFF 100%);

    --front-category-card-width: 181.69px;
    --front-category-card-height: 156.26px;

    --templates-category-card-width: 294px;
    --templates-category-card-height: 122px;
    --templates-imagefx-height: 88px;
    --templates-category-card-fontsize:20px;
    --templates-category-card-borderradius: 15px;
    --main-color: rgba(213, 95, 255, 1);  


    --product-box-width: 266.21px;
    --product-box-height: 193.09px;
    --product-imagefx-height: 148.59px;
    --product-box-header-size:15px;
    --product-box-button-fontsize: 13px;

    --main-color: rgba(213, 95, 255, 1);
    
    --tool-tip-imagefx-height:177px;
    --tool-tip-imagefx-width:394px;

    --search-box-width: 211.19px;
    --search-box-padding: 15px;
    --search-box-padding-top: 20px;
    --search-box-padding-bottom: 20px;

    --basic-button-height: 41.030799865722656px;
    --basic-button-width: 144.8145751953125px;
    --basic-button-svgsize: 120%; 
    --basic-button-fontsize: 15px;

    --hero-height: 562.36px;
}

body {
    display: block;
   background:black;
   
}


.outfit{
    font-family: "istok-web", serif;
    color: white;
  }

.rumble-brave-font{
    font-family: "rumble-brave", serif;
    color: white;
  }

  .javanese-font{
    font-family: "javanese-text", serif;
    color: white;
  }
  .outfit{
    font-family: "Outfit", serif;
    color: white;
  }
.home-column{
  display:flex;
  width: 100%;
  flex-direction: column;
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}


/* Gradient Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 3px;
  
}

/* Track */
::-webkit-scrollbar-track {
  
  background: black;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
background: linear-gradient(180deg, var(--theme-color-5) 0%, rgba(0, 255, 224, 0) 100%);
    border-radius: 100vh;
}

@media screen and (max-width: 1400px) {
  :root {

    --templates-category-card-width: 124.33px;
    --templates-category-card-height: 103.95px;
    --templates-imagefx-height: 74.98px;
    --templates-category-card-fontsize: 14.2762px;
    --templates-category-card-borderradius:  12px;

    --product-box-width: 182.86px;
    --product-box-height: 132.61px;
    --product-imagefx-height: 95.65px;

    --product-box-header-size: 10.2999px;

   --templates-hero-width: 95%;
   --templates-hero-height:15%;
   --templates-category-card-width: 30%;
  
   --basic-button-height: 85%;
   --basic-button-width: 25%;   
   --basic-button-svgsize: 80%;
   --basic-button-fontsize: 12px;   

   --product-box-width: 30%;
   --product-box-height: 202.61px;
   --product-imagefx-height: 155.65px;
   --product-box-button-fontsize: 10px;

   --templates-category-card-width: 100%;
   --templates-category-card-bg-width: 30%;
    --templates-category-card-height: 103.95px;

  }

  
}

@media screen and (min-width: 1400px) {
  :root {



 
   --templates-category-card-width: 100%;
   --templates-category-card-bg-width: 30%;


  }

  
}

@media screen and (min-width: 1900px) {
  :root {

    --product-box-width: 333.4px;
    --product-box-height: 278.1px;
    --product-imagefx-height: 200.5965px;


    --templates-category-card-width: 100%;
    --templates-category-card-height: 130px;
    --templates-imagefx-height: 90px;
    --templates-category-card-fontsize: 22.2762px;
    --templates-category-card-borderradius:  18px;

  }
}



/* 90% zoom values
@media screen and (min-width: 900px) {
  :root {

    --product-box-width: 255.6px;
    --product-box-height: 185.4px;
    --product-imagefx-height: 133.731px;




    --templates-category-card-width: 264.6px;
    --templates-category-card-height: 109.8px;
    --templates-imagefx-height: 79.2px;
    --templates-category-card-fontsize: 19px;

    --hero-height:506.124px;

    
  }
} */


@media screen and (max-width: 480px) {
  :root {

    --templates-category-card-width: 124.33px;
    --templates-category-card-height: 103.95px;
    --templates-imagefx-height: 74.98px;
    --templates-category-card-fontsize: 14.2762px;
    --templates-category-card-borderradius:  6px;

    --product-box-width: 182.86px;
    --product-box-height: 132.61px;
    --product-imagefx-height: 95.65px;

    --product-box-header-size: 10.2999px;

   --templates-hero-width: 95%;
   --templates-hero-height:15%;
   --templates-category-card-width: 30%;
  
   --basic-button-height: 85%;
   --basic-button-width: 25%;   
   --basic-button-svgsize: 80%;
   --basic-button-fontsize: 12px;   

   --product-box-width: 43%;
   --product-box-height: 132.61px;
   --product-imagefx-height: 95.65px;
   --product-box-button-fontsize: 10px;

   --templates-category-card-width: 100%;
   --templates-category-card-bg-width: 30%;
    --templates-category-card-height: 103.95px;
    --hero-height: 235.74px;

  }

  
}

@media only screen and (max-width: 480px) {

  

  button-items button-parent h3{
  
  
  }
}

