@font-face {
    font-family: 'istok-web';
    src: local('istok-web'), url(./assets/fonts/IstokWeb-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'rumble-brave';
    src: local('rumble-brave'), url(./assets/fonts/Rumble-Brave.otf) format('opentype');
  }
:root{


    --theme-color-1: #8309CE;
    --theme-color-2: #994DFF;
    --theme-color-3: #702EFF;
    --theme-color-3: #B02EFF;
    --theme-color-5: #A81AFF;

    --front-text-gradient: linear-gradient(180deg, #9E00FF 0%, #FFFFFF 100%);

    --front-category-card-width: 181.69px;
    --front-category-card-height: 156.26px;

    --templates-category-card-width: 294px;
    --templates-category-card-height: 122px;
    --templates-imagefx-height: 88px;
    --templates-category-card-fontsize:20px;

    --main-color: rgba(213, 95, 255, 1);  


    --product-box-width: 284px;
    --product-box-height: 206px;
    --product-imagefx-height: 148.59px;
    --main-color: rgba(213, 95, 255, 1);
    
    --tool-tip-imagefx-height:177px;
    --tool-tip-imagefx-width:394px;

}

body {
    display: block;
    overflow-x: hidden !important;
}


.istok-font{
    font-family: "istok-web", serif;
    color: white;
  }

.rumble-brave-font{
    font-family: "rumble-brave", serif;
    color: white;
  }


.home-column{
  display:flex;
  width: 100%;
  flex-direction: column;
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

/* 90% zoom values */
@media screen and (min-width: 9000px) {
  :root {
    --templates-category-card-width: 264.6px;
    --templates-category-card-height: 109.8px;
    --templates-imagefx-height: 79.2px;
    --templates-category-card-fontsize: 19px;
    
  }
}
