
  .filter-box-column{
  
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 30%;
    gap: 5%;
  }

  .filter-box-column >*{
font-weight: 100;
  }

  .filter-header-items{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width:75%;
    height: 15%;
    overflow:hidden;
  }
  
  .filter_box_text {
    
    width: 75%;
    display: flex;
  }
  .new {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height: 100%;
  }
  
  


  .filter-box_box_element{
    width:100%;
    height:100%;
    padding-left: 20%;
    
  }

  .filter-box_box_container{
    padding-top: 15%;
    background: linear-gradient(180deg, #0C1113 0%, rgba(12, 17, 19, 0) 100%);
    width: 75%;
    height: 60%;
    border-radius: 13.6888px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap:10%;
  
  
  }

  .filter_button_container{
    width: 75%;
    height: 100%;
    border-radius: 13.6888px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap:15px;
   
  }

  @media screen and (max-width : 1024px){
    .filter-box-column {
      display:none;
    }

  }